---
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
---

<Layout title="Frontend Mentor | Order summary card">
  <main class="mx-6 my-[4.44rem] lg:mx-auto lg:mt-[6.38rem] lg:mb-[6.31rem] flex justify-center items-center">
    <section class="card w-[20.4375rem] h-[35.4375rem] rounded-lg bg-white"></section>
  </main>
</Layout>

<style>
  .card {
    box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.15);
  }
</style>
